<header class="site-home-header ">

    <div class="mj-head-bj"></div>
    <div class="inner mj-inner ">
        {{> "site-nav"}}
        <div class="site-header-content mj-header mj-me-banner">
            <div class="mj-me-info">
                <div class="mj-head">
                    <img width="140" src="/assets/images/head01.jpeg">
                </div>
                <div class="social">
                    <a href="#"><img src="/assets/images/wechat.png" /></a>
                    <a href="#"><img src="/assets/images/sina.png" /></a>
                    <a href="#"><img src="/assets/images/qq.png" /></a>
                    <a href="#"><img src="/assets/images/github.png" /></a>
                    <a href="#"><img src="/assets/images/lofter.png" /></a>
                    <a href="#"><img src="/assets/images/bilibili.png" /></a>
                    <a href="#"><img src="/assets/images/wangyiyun.png" /></a>
                    <a href="#"><img src="/assets/images/twitter.png" /></a>
                    <a href="#"><img src="/assets/images/facebook.png" /></a>
                    <a href="#"><img src="/assets/images/jianshu.png" /></a>
                    <a href="#"><img src="/assets/images/zhihu.png" /></a>
                    <a href="#"><img src="/assets/images/csdn.png" /></a>
                </div>
            </div>

        </div>
    </div>
    </div>

</header>
