<nav>
    <div >
        <div class="mj-nav-flex">

            <div class="mj-icon-nav mj-left">
                <div class="mj-nav-log mj-right">
                    <a class="mj-logo" href="{{@site.url}}"><img src="{{@site.logo}}" alt="{{@site.title}}" /></a>
                </div>
                <div class="mj-nav-name mj-left">
                    <span>码酱博客</span>
                </div>
            </div>
            <div class="mj-nav" >
                <a href="/"><span class="mj-nav-title"><i class="fa fa-home"></i> 码酱首页</span></a>
                <a href="/articles/classification/"><span class="mj-nav-title"><i class="fa fa-home"></i> 文章分类</span></a>
                <a href="/articles/file/"><span class="mj-nav-title"><i class="fa fa-bookmark"></i> 文章归档</span></a>
                <a href="/recard/list/people/"><span class="mj-nav-title"><i class="fa fa-home"></i> 赞助墙</span></a>
                <span class="mj-nav-title"><i class="fa fa-home"></i> 关于我</span>
                <span class="mj-nav-title"><i class="fa fa-home"></i> 移步大佬</span>
            </div>
        </div>
    </div>
</nav>
