<header class="site-home-header">
    <div id="mj-stars"></div>
    <div id="mj-stars2"></div>
    <div id="mj-stars3"></div>
    <div class="mj-head-bj"></div>
    <div class="inner mj-inner">
        {{> "site-nav"}}
        <div class="site-header-content mj-header">
            <h1 class=" mj-title">
                努力做有价值的技术文章
            </h1>
            <h2 class=" mj-description">这里，只求分享与免费；这里，不隐含扭曲的价值观，而是整合并充盈正能量；</h2>
        </div>
    </div>
    </div>
</header>
