{{!< default}}
{{> "me-banner"}}
<main class="content">
    <div class="container">
        <div class="mj-card-about">
            <div class="zl-info">
                <div class="mj-number count">
                    <div class="wz">
                        <div><span class="wz-num">文章</span></div>
                        <div><span class=" wz-num wz-sz">23</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num">标签</span></div>
                        <div><span class=" wz-num wz-sz">23</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num">字数</span></div>
                        <div><span class=" wz-num wz-sz">23k</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num">读书</span></div>
                        <div><span class=" wz-num wz-sz">23</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num">城市</span></div>
                        <div><span class=" wz-num wz-sz">23</span></div>
                    </div>
                </div>
                <div class="mj-number count">
                    <div class="wz">
                        <div><span class="wz-num right-wz">坚持</span></div>
                        <div><span class=" wz-num wz-sz right-sz">234</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num right-wz">文章</span></div>
                        <div><span class=" wz-num wz-sz right-sz">23</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num right-wz">文章</span></div>
                        <div><span class=" wz-num wz-sz right-sz">23</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num right-wz">文章</span></div>
                        <div><span class=" wz-num wz-sz right-sz">23</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num right-wz">文章</span></div>
                        <div><span class=" wz-num wz-sz right-sz">23</span></div>
                    </div>

                </div>
            </div>
            <div class="mj-xy">
                <div class="xy-base"></div>
                <div class="xy-base name">
                    <span class="name-img1"><img class="name-logo1"
                                                 src="https://img.dpm.org.cn/Public/static/themes/image/public-icon3.png"/></span>
                    <span class="name-title1"></span>
                    <span class="name-img1"><img class="name-logo1"
                                                 src="https://img.dpm.org.cn/Public/static/themes/image/public-icon4.png"/></span>
                </div>
                <div class="xy-base"></div>
            </div>
            <div class="mj-xm fu-title">

            </div>
            <div class="mj-xm desc-font">
                <div class="mj-about-desc">

                </div>
            </div>
            <div class="mj-xm kyxm"><span class="border-base">开源项目</span></div>
            <div class="syah" id="kyxm">


            </div>
            <div class="mj-xm kyxm"><span class="border-base">摄影爱好</span></div>
            <div class="syah" id="syah">


            </div>
            <div class="mj-xm kyxm"><span class="border-base">我的技能</span></div>
            <div class="mj-skill">
                <div id="skill">

                </div>
            </div>
        </div>
    </div>

</main>
<script src="{{asset "lib/jquery/jquery-3.1.1.min.js"}}"></script>
<script src="{{asset "js/config.js"}}"></script>
<script>
    let skillEl = $("#skill");
    for (let i = 0; i < skills.length; i++) {
        let skillItem = skills[i];
        let bg = i > 0 ? "skill-bg" + i % 10 : "skill-bg";
        let titleBg = i > 0 ? "skill-color" + i % 10 : "skill-color";
        skillEl.append(
                '<div class="skillbar">\
                    <span class="title ' + titleBg + '"></i> ' + skillItem.name + '</span>\
                     <span class="percent">' + skillItem.percent + '</span>\
                <div class="filled ' + bg + '" data-width="' + skillItem.percent + '"></div>\
             </div>'
        )
    }
    $(".mj-about-desc").append(personal.motto);
    $(".fu-title").append(personal.desc);
    $(".name-title1").append(personal.name);
    for (let i = 0; i < personal.photo.length; i++) {
        let photoItem = personal.photo[i];
        $("#syah").append(
                '<div class="ah-img1">\
                        <div class="ih-item square effect13 bottom_to_top img-card">\
                        <a href="#">\
                        <div class="img"><img src="' + photoItem.image + '">\
                </div>\
                <div class="info">\
                <h3>' + photoItem.address + '</h3>\
        <p>' + photoItem.time + '</p>\
        </div>\
        </a>\
        </div>\
        </div>'
        )
    }
    for (let i = 0; i < personal.project.length; i++) {
        let projectItem = personal.project[i];
        $("#kyxm").append(
                '<div class="ah-img1">\
                        <div class="ih-item square effect13 bottom_to_top img-card">\
                        <a target="_blank" href="' + projectItem.url + '">\
                <div class="img"><img src="' + projectItem.image + '">\
                </div>\
                <div class="info">\
                <h3>' + projectItem.name + '</h3>\
        <p>' + projectItem.desc + '</p>\
        </div>\
        </a>\
        </div>\
        </div>')
    }
</script>

