{{!< default}}
{{> "me-banner"}}
<main class="content">
    <div class="container">
        <div class="mj-card-about">
            <div class="zl-info">
                <div class="mj-number count">
                    <div class="wz">
                        <div><span class="wz-num">文章</span></div>
                        <div><span class=" wz-num wz-sz">23</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num">标签</span></div>
                        <div><span class=" wz-num wz-sz">23</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num">字数</span></div>
                        <div><span class=" wz-num wz-sz">23k</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num">读书</span></div>
                        <div><span class=" wz-num wz-sz">23</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num">城市</span></div>
                        <div><span class=" wz-num wz-sz">23</span></div>
                    </div>
                </div>
                <div class="mj-number count">
                    <div class="wz">
                        <div><span class="wz-num right-wz">坚持</span></div>
                        <div><span class=" wz-num wz-sz right-sz">234</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num right-wz">文章</span></div>
                        <div><span class=" wz-num wz-sz right-sz">23</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num right-wz">文章</span></div>
                        <div><span class=" wz-num wz-sz right-sz">23</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num right-wz">文章</span></div>
                        <div><span class=" wz-num wz-sz right-sz">23</span></div>
                    </div>
                    <div class="wz">
                        <div><span class="wz-num right-wz">文章</span></div>
                        <div><span class=" wz-num wz-sz right-sz">23</span></div>
                    </div>

                </div>
            </div>
            <div class="mj-xy">
                <div class="xy-base"></div>
                <div class="xy-base name">
                    <span class="name-img1"><img class="name-logo1"
                                                 src="https://img.dpm.org.cn/Public/static/themes/image/public-icon3.png"/></span>
                    <span class="name-title1">Waldeinsamkeit</span>
                    <span class="name-img1"><img class="name-logo1"
                                                 src="https://img.dpm.org.cn/Public/static/themes/image/public-icon4.png"/></span>
                </div>
                <div class="xy-base"></div>
            </div>
            <div class="mj-xm fu-title">
                是一名不一样的软件工程师
            </div>
            <div class="mj-xm desc-font">
                <div class="mj-about-desc">
                    于公元2013年入坑编程行业，热爱分享，因为感恩，此生之路，我将走过；走过这一次，便再也无法重来。所有力所能及的善行，所有充盈于心的善意，我将毫不吝惜，即刻倾于。我将不再拖延，再不淡漠，只因此生之路，再也无法重来
                </div>
            </div>
            <div class="mj-xm kyxm"><span class="border-base">开源项目</span></div>
            <div class="syah">
                <div class="ah-img1">
                    <div class="ih-item square effect13 bottom_to_top img-card">
                        <a href="#">
                            <div class="img"><img
                                    src="http://image.luokangyuan.com/2019/08/09/09/08/08fog-foggy-lake-2649403.jpg">
                            </div>
                            <div class="info">
                                <h3>武汉 · 光谷街</h3>
                                <p>Description goes here</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ah-img1">
                    <div class="ih-item square effect13 bottom_to_top img-card">
                        <a href="#">
                            <div class="img"><img
                                    src="http://image.luokangyuan.com/2019/08/09/09/08/08fog-foggy-lake-2649403.jpg">
                            </div>
                            <div class="info">
                                <h3>武汉 · 光谷街</h3>
                                <p>Description goes here</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ah-img1">
                    <div class="ih-item square effect13 bottom_to_top img-card">
                        <a href="#">
                            <div class="img"><img
                                    src="http://image.luokangyuan.com/2019/08/09/09/08/08fog-foggy-lake-2649403.jpg">
                            </div>
                            <div class="info">
                                <h3>武汉 · 光谷街</h3>
                                <p>Description goes here</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ah-img1">
                    <div class="ih-item square effect13 bottom_to_top img-card">
                        <a href="#">
                            <div class="img"><img
                                    src="http://image.luokangyuan.com/2019/08/09/09/08/08fog-foggy-lake-2649403.jpg">
                            </div>
                            <div class="info">
                                <h3>武汉 · 光谷街</h3>
                                <p>Description goes here</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ah-img1">
                    <div class="ih-item square effect13 bottom_to_top img-card">
                        <a href="#">
                            <div class="img"><img
                                    src="http://image.luokangyuan.com/2019/08/09/09/08/08fog-foggy-lake-2649403.jpg">
                            </div>
                            <div class="info">
                                <h3>武汉 · 光谷街</h3>
                                <p>Description goes here</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ah-img1">
                    <div class="ih-item square effect13 bottom_to_top img-card">
                        <a href="#">
                            <div class="img"><img
                                    src="http://image.luokangyuan.com/2019/08/09/09/08/08fog-foggy-lake-2649403.jpg">
                            </div>
                            <div class="info">
                                <h3>武汉 · 光谷街</h3>
                                <p>Description goes here</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="mj-xm kyxm"><span class="border-base">摄影爱好</span></div>
            <div class="syah">
                <div class="ah-img1">
                    <div class="ih-item square effect13 bottom_to_top img-card">
                        <a href="#">
                            <div class="img"><img
                                    src="http://image.luokangyuan.com/2019/08/09/09/08/08fog-foggy-lake-2649403.jpg">
                            </div>
                            <div class="info">
                                <h3>武汉 · 光谷街</h3>
                                <p>Description goes here</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ah-img1">
                    <div class="ih-item square effect13 bottom_to_top img-card">
                        <a href="#">
                            <div class="img"><img
                                    src="http://image.luokangyuan.com/2019/08/09/09/08/08fog-foggy-lake-2649403.jpg">
                            </div>
                            <div class="info">
                                <h3>武汉 · 光谷街</h3>
                                <p>Description goes here</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ah-img1">
                    <div class="ih-item square effect13 bottom_to_top img-card">
                        <a href="#">
                            <div class="img"><img
                                    src="http://image.luokangyuan.com/2019/08/09/09/08/08fog-foggy-lake-2649403.jpg">
                            </div>
                            <div class="info">
                                <h3>武汉 · 光谷街</h3>
                                <p>Description goes here</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ah-img1">
                    <div class="ih-item square effect13 bottom_to_top img-card">
                        <a href="#">
                            <div class="img"><img
                                    src="http://image.luokangyuan.com/2019/08/09/09/08/08fog-foggy-lake-2649403.jpg">
                            </div>
                            <div class="info">
                                <h3>武汉 · 光谷街</h3>
                                <p>Description goes here</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ah-img1">
                    <div class="ih-item square effect13 bottom_to_top img-card">
                        <a href="#">
                            <div class="img"><img
                                    src="http://image.luokangyuan.com/2019/08/09/09/08/08fog-foggy-lake-2649403.jpg">
                            </div>
                            <div class="info">
                                <h3>武汉 · 光谷街</h3>
                                <p>Description goes here</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="ah-img1">
                    <div class="ih-item square effect13 bottom_to_top img-card">
                        <a href="#">
                            <div class="img"><img
                                    src="http://image.luokangyuan.com/2019/08/09/09/08/08fog-foggy-lake-2649403.jpg">
                            </div>
                            <div class="info">
                                <h3>武汉 · 光谷街</h3>
                                <p>Description goes here</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
            <div class="mj-xm kyxm"><span class="border-base">我的技能</span></div>
            <div class="mj-skill">
                <div id="skill">
                    <div class="skillbar html">
                        <div class="filled" data-width="90%"></div>
                        <span class="title">HTML</span>
                        <span class="percent">90%</span>
                    </div>

                    <div class="skillbar css">
                        <span class="title"></i> CSS</span>
                        <span class="percent">75%</span>
                        <div class="filled" data-width="75%"></div>
                    </div>

                    <div class="skillbar js">
                        <span class="title">JS</span>
                        <span class="percent">50%</span>
                        <div class="filled" data-width="50%"></div>
                    </div>

                    <div class="skillbar php">
                        <span class="title">php</span>
                        <span class="percent">40%</span>
                        <div class="filled" data-width="40%"></div>
                    </div>

                    <div class="skillbar sass">
                        <span class="title"></i> sass</span>
                        <span class="percent">40%</span>
                        <div class="filled" data-width="40%"></div>
                    </div>

                    <div class="skillbar indesign">
                        <span class="title"></i> sass</span>
                        <span class="percent">40%</span>
                        <div class="filled" data-width="55%"></div>
                    </div>

                    <div class="skillbar">
                        <span class="title"></i> less</span>
                        <span class="percent">40%</span>
                        <div class="filled" data-width="50%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

