{{!< default}}
{{> "star-banner"}}
<main class="content">
    <div class="container start-bj">
        <div class="row mj-row row-top">
            <div class="col s12 m3">
                <div class="card-top bj-card01 title-card" >
                    <div class="card-top-content">
                        <div class="fl-num"><span class="tag-title">Java(8)</span></div>
                        <div class="tag-pro">
                            <div class="tag-pro-size" :style="{'width':javaWidth + 'px'}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card-top bj-card02 title-card" >
                    <div class="card-top-content-sjk">
                        <div class="fl-num"><span class="tag-title">数据库(18)</span></div>
                        <div class="tag-pro">
                            <div class="tag-pro-size" :style="{'width':databaseWidth + 'px'}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card-top bj-card03 title-card" >
                    <div class="card-top-content-cxsj">
                        <div class="fl-num"><span class="tag-title">程序设计(9)</span></div>
                        <div class="tag-pro">
                            <div class="tag-pro-size" :style="{'width':programWidth + 'px'}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card-top bj-card04 title-card" >
                    <div class="card-top-content-qt ">
                        <div class="fl-num"><span class="tag-title">人文修养(21)</span></div>
                        <div class="tag-pro">
                            <div class="tag-pro-size" :style="{'width':otherWidth + 'px'}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mj-row row-top">
            <div class="col s12 m12">
                <div class="tag-content">
                    <div class="tag-title-name">
                        <span class="name-title">文章标签</span>
                    </div>
                    <div class="tag-title-info">
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                        <div class="tag-bj"><span>Java</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mj-row row-top">
            <div class="col s12 m6">
                <div class="ldt card-base">
                    <div class="tag-title-name">
                        <span class="name-title">知识技能雷达图</span>
                    </div>
                    <div  class="tag-title-info" id="raddar">
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="bt card-base">
                    <div class="tag-title-name">
                        <span class="name-title">文章年度数量饼图</span>
                    </div>
                    <div  class="tag-title-info" id="piechart" style="height: 340px">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mj-row row-top">
            <div class="col s12 m12">
                <div class="ldt card-base">
                    <div class="tag-title-name">
                        <span class="name-title">文章标签词云图</span>
                    </div>
                    <div  class="tag-title-info" id="wordchart">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mj-row row-top">
            <div class="col s12 m12">
                <div class="ldt card-base">
                    <div class="tag-title-name">
                        <span class="name-title">学习趋势年度比较图</span>
                    </div>
                    <div  class="tag-title-info" id="barchart">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
