{{!< default}}
{{> "star-banner"}}
<main class="content">
    <div class="container start-bj">
        <div class="row mj-row row-top">
            <div class="col s12 m12">
                <div class="card-top  title-card">
                    <div class="card-top-content card-base">
                        <div>这儿计划做一个类似豆瓣文章写作时间网格图</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mj-row row-top">
            <div class="col s12 m12 mj-time">
                <div class="mj-time-post">
                    <div class="mj-time-post-card">
                        <div class="mj-line">
                            <div class="mj-line-time"></div>
                            <div class="mj-post-time">2019-09</div>
                            <div class="mj-line-time"></div>
                        </div>
                        <div class="mj-post-card ">
                            <div class="mj-post card-hover">
                                <div class="mj-name"><span class="mj-dec">死磕设计模式-适配器模式</span></div>
                                <div class="mj-post-dec"><span class="mj-sec-title">将一个接口转换成客户希望的另一个接口，适配器模式使接口不兼容的那些类可以一起工作</span>
                                </div>
                                <div class="mj-read-more"><span class="mj-read">阅读更多</span></div>
                            </div>
                            <div class="mj-post card-hover">
                                <div class="mj-name"><span class="mj-dec">死磕设计模式-适配器模式</span></div>
                                <div class="mj-post-dec"><span class="mj-sec-title">将一个接口转换成客户希望的另一个接口，适配器模式使接口不兼容的那些类可以一起工作</span>
                                </div>
                                <div class="mj-read-more"><span class="mj-read">阅读更多</span></div>
                            </div>
                            <div class="mj-post card-hover">
                                <div class="mj-name"><span class="mj-dec">死磕设计模式-适配器模式</span></div>
                                <div class="mj-post-dec"><span class="mj-sec-title">将一个接口转换成客户希望的另一个接口，适配器模式使接口不兼容的那些类可以一起工作</span>
                                </div>
                                <div class="mj-read-more"><span class="mj-read">阅读更多</span></div>
                            </div>
                            <div class="mj-post card-hover">
                                <div class="mj-name"><span class="mj-dec">死磕设计模式-适配器模式</span></div>
                                <div class="mj-post-dec"><span class="mj-sec-title">将一个接口转换成客户希望的另一个接口，适配器模式使接口不兼容的那些类可以一起工作</span>
                                </div>
                                <div class="mj-read-more"><span class="mj-read">阅读更多</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="mj-time-post-card">
                        <div class="mj-line">
                            <div class="mj-line-time"></div>
                            <div class="mj-post-time">2019-09</div>
                            <div class="mj-line-time"></div>
                        </div>
                        <div class="mj-post-card ">
                            <div class="mj-post card-hover">
                                <div class="mj-name"><span class="mj-dec">死磕设计模式-适配器模式</span></div>
                                <div class="mj-post-dec"><span class="mj-sec-title">将一个接口转换成客户希望的另一个接口，适配器模式使接口不兼容的那些类可以一起工作</span>
                                </div>
                                <div class="mj-read-more"><span class="mj-read">阅读更多</span></div>
                            </div>
                            <div class="mj-post card-hover">
                                <div class="mj-name"><span class="mj-dec">死磕设计模式-适配器模式</span></div>
                                <div class="mj-post-dec"><span class="mj-sec-title">将一个接口转换成客户希望的另一个接口，适配器模式使接口不兼容的那些类可以一起工作</span>
                                </div>
                                <div class="mj-read-more"><span class="mj-read">阅读更多</span></div>
                            </div>
                            <div class="mj-post card-hover">
                                <div class="mj-name"><span class="mj-dec">死磕设计模式-适配器模式</span></div>
                                <div class="mj-post-dec"><span class="mj-sec-title">将一个接口转换成客户希望的另一个接口，适配器模式使接口不兼容的那些类可以一起工作</span>
                                </div>
                                <div class="mj-read-more"><span class="mj-read">阅读更多</span></div>
                            </div>
                            <div class="mj-post card-hover">
                                <div class="mj-name"><span class="mj-dec">死磕设计模式-适配器模式</span></div>
                                <div class="mj-post-dec"><span class="mj-sec-title">将一个接口转换成客户希望的另一个接口，适配器模式使接口不兼容的那些类可以一起工作</span>
                                </div>
                                <div class="mj-read-more"><span class="mj-read">阅读更多</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

