{{!< default}}
{{> "star-banner"}}
<main class="content">
    <div class="container start-bj">
        <div class="row mj-row row-top">
            <div class="col s12 m5">
                <div class="card-top  title-card">
                    <div class="card-top-content card-base mj-sponsor">
                        <div class="mj-sponsor-des">
                            <div class="mj-sc">
                                <div id="poem_sentence"></div>
                            </div>
                            <div class="mj-info">
                                <div id="poem_info"></div>
                            </div>
                        </div>
                        <div class="mj-bj">
                            <img height="80px" width="100%" src="/assets/images/qunshan.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m2 mj-sponsor-images">
                <img class="mj-image" src="/assets/images/IMG_8391.JPG">
            </div>
            <div class="col s12 m5">
                <div class="card-top  title-card">
                    <div class="card-top-content card-base mj-sponsor">
                        <div class="mj-sponsor-des">
                            <div class="mj-sc">
                                <div id="poem_sentence1"></div>
                            </div>
                            <div class="mj-info">
                                <div id="poem_info1"></div>
                            </div>
                        </div>
                        <div class="mj-bj">
                            <img height="80px" width="100%" src="/assets/images/qunshan.png">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col s12 m12 mj-sponsor-name">
                <div class="mj-zz"><span class="mj-sponsor-name-title">赞助墙（你的赏识是我前进的动力）</span></div>
                <div class="mj-monet-flex">
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                    <div class="mj-money">张三：0.5元</div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
<script type="text/javascript">
    jinrishici.load(function (result) {
        var sentence = document.querySelector("#poem_sentence");
        var info = document.querySelector("#poem_info");
        sentence.innerHTML = result.data.content;
        info.innerHTML = '—— ' + result.data.origin.dynasty + ' · ' + result.data.origin.author + ' · ' + result.data.origin.title
    });
    jinrishici.load(function (result) {
        var sentence = document.querySelector("#poem_sentence1");
        var info = document.querySelector("#poem_info1");
        sentence.innerHTML = result.data.content;
        info.innerHTML = '—— ' + result.data.origin.dynasty + ' · ' + result.data.origin.author + ' · ' + result.data.origin.title
    });
</script>
